<div class="container-fluid">
    <table class="table mt-2 interview-tb">
        <thead>
            <th>Applicant</th>
            <th>Date</th>
            <th>Time</th>
            <th>Desk</th>
            <th>Rate</th>
        </thead>
        <tbody>
            <tr *ngFor="let interview of myInterviews">
                <td>
                   <app-profile-card [cardDetails]="interview"></app-profile-card> 
                </td>
                <td>
                    {{interview.date}}
                </td>
                <td>
                    {{interview.time}}
                </td>
                <td>
                    {{interview.booking ? "BOOKING HERE" :"None"}}
                </td>
                <td class="text-center" (click)="rate(interview.interviewId)">
                    <i class="fad fa-star-half"></i>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>