<div>

  <a href="https://karabongqobe.github.io/370-Help_Manual/pages/verify-account1.html">
    <button  type="button" class="btn btn-outline-info" style="float: right;" >Help</button>
  </a>
    <div class="top">
        <img src="../../../../assets/icons/bmwLogo.png" alt="bmw logo">
        <h1 class="text-center">Account Successfully Created!</h1>
    </div>
    <div class="bottom text-center">
        <h1>Please verify your account to log into the dashboard</h1>
        <br>
        <br>
        <button class="btn" [routerLink]="''"><h4> Go to login</h4></button>
    </div>
</div>
