
    <a href="https://karabongqobe.github.io/370-Help_Manual/pages/step-1---request-to-apply.html">
      <button  type="button" class="btn btn-outline-info" style="float: right;" >Help</button>
      </a>
  
<div class="container-fluid">
    <div class="row" >
        <div class="col-lg-9 col-sm-12">
            <app-job-information [cardId]="cardId"></app-job-information>
        </div>
        <div class="col-lg-3 col-sm-12 text-center">
          <a placement="left" ngbTooltip="Select this to apply for the job listing.">
            <button (click)="jobApply()" class="btn btn-outline-primary" id="apply"><h1>Apply</h1></button>
          </a>

        </div>
    </div>

</div>
