<div class="conatiner-fluid">
    <div class="heading-container">
        <h3>List of languages</h3><h2 (click)='addLanguage()'><i class="fa fa-plus" aria-hidden="true"></i></h2> 
    </div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Language</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
                <tbody >
                    <tr *ngFor="let item of languages; let i = index">
                        <td>{{i}}</td>
                        <td>{{item.language}}</td>
                        <td><h3><i class="fa fa-times" aria-hidden="true" (click)="removeLanguage(item.id)"></i></h3></td>
                    </tr>
                </tbody>
        </table>
    </div>
    
</div>
