<button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
<div class="bg-img">
<div class="grid-container">
    <div class="header"></div>
    <div class="login">

        <div class="login-container">
            <form [formGroup]="userDetails">
                <div class="from-group">
                    <label for="email">
                      <a placement="top" ngbTooltip="Enter in your registered email address." style="font-size: xx-small;">
                        <i class="fa fa-info-circle"></i>
                      </a>
                      Email</label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email" >
                </div>
                <div class="form-group">
                    <label for="password">
                      <a placement="top" ngbTooltip="Enter in your password that you registered with." style="font-size: xx-small;">
                        <i class="fa fa-info-circle"></i>
                      </a>
                      Password</label>
                    <label for="password" class="forgot" [routerLink]="['ForgotPassword']" routerLinkActive="router-link-active" >
                      <a placement="top" ngbTooltip="Click if you would like to reset your password.">
                        <i>Forgot Password?</i>
                      </a></label>
                    <input type="password" name="password" id="password" class="form-control" formControlName="password" >
                </div>
                <!--Validation-->
                <div *ngIf="password.invalid && ( password.dirty || password.touched) && (password.errors.required  || password.errors.invalid)" class="alert alert-danger text-center">
                  Password  is required.
                </div>

                <div *ngIf="email.invalid && ( email.dirty || email.touched) && (email.errors.required  || email.errors.invalid)" class="alert alert-danger text-center">
                  Email is required.
                </div>

                <div *ngIf=" email.invalid && email.touched && email.errors.pattern" class="alert alert-danger text-center">
                  Email needs to be a valid email with an @-sign and dot-character (.)
                </div>

                <div *ngIf ="emailInvalid==true"class="alert alert-danger text-center">
                    {{displayError}}
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="signup">
        <div class="login-container">
            <h3>Don't have an account?</h3>
            <p>No problem create one and start applying for jobs at BMW</p>
            <div class="text-right">
              <a placement="top" ngbTooltip="Click if you would like to create your applicant account.">
                <button [routerLink]="['CreateAccount']" routerLinkActive="router-link-active"  class="btn btn-primary">Create Account</button>
              </a>
            </div>

        </div>

    </div>
    <div class="footer"></div>




  </div>
</div>
