<div class="container-fluid" *ngIf="!cardId">
    <h1>Loading Card Information...</h1>
</div>
<div class="container-fluid" *ngIf="cardId">
    <h1>{{cardInformation?.name}}</h1>
    <hr>
    <h4>Introduction:</h4>
    <p>{{cardInformation?.introduction}}</p>
    <hr>
    <h4>Job Description:</h4>
    <p>{{cardInformation?.description}}</p>
    <hr>
    <h4 *ngIf="cardInformation?.requirements.length>0">Requirements:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE REQUIREMENTS -->
        <li *ngFor="let item of cardInformation?.requirements">{{item}}</li>
    </ul>
    <br>
    <h4 *ngIf="cardInformation?.skills.length>0">Skills:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE SKILLS -->
        <li *ngFor="let item of cardInformation?.skills">{{item}}</li>
    </ul>
    <h4 *ngIf="cardInformation?.languages.length>0">Languages Needed:</h4>
    <ul>
        <!-- NGFOR HERE WITH ALL THE REQUIREMENTS -->
        <li *ngFor="let item of cardInformation?.languages">{{item}}</li>
    </ul>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h5>Start Date: {{cardInformation?.startDate | date : 'dd/MM/yyyy'}}</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>End Date: {{cardInformation?.endDate | date : 'dd/MM/yyyy'}}</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>Travel Expected: {{cardInformation?.travel ? 'Yes' : 'No'}}</h5>
        </div>
        <div class="col-lg-3 col-sm-12">
            <h5>Avg Working Hours: {{cardInformation?.workingHours}}</h5>
        </div>
    </div>
    <hr>
    <!-- WE WILL NEED TO NGIF HERE -->
    <ng-container *ngIf="cardInformation?.tests.length > 0">
        <h3>Tests you will need to complete</h3>
        <div *ngFor="let test of cardInformation?.tests">
            <h5>{{test?.name}}</h5>
            <p>{{test?.description}}</p>
        </div>
        
        <h3>Find Test Here</h3>
        <div *ngFor="let test of cardInformation?.tests">
            <p><a [href]="'http://'+test.url" target="_blank">{{test.url}}</a></p>
        </div>
        
    </ng-container>
    
</div>