<div class="container-fluid">
  <button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h1>Skills</h1>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <button class="btn btn-outline-primary mt-4 float-right" (click)="pendingSkills()" *ngIf="pendingSkill">Pending Skills {{pendingSkill}}</button> 
                        </div>
                    </div>
                </div>
                <form>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-inline">
                                    <h5>Search Skills:</h5> <input type="text" class="form-control ml-2" [formControl]="skillControl">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div>
                    <div class="group-right" (click)="addSkill()">
                        <h5>New Skill</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <!-- Skills GO HERE -->
                        <tr *ngFor="let item of skills | filterSkills:skillControl.value"><td>{{item.skill}}</td><td class="text-center">
                          <a placement="top" ngbTooltip="Select this to edit the corresponding skill.">
                            <i class="far fa-pencil-alt" (click)="editSkill(item.id)"></i>
                          </a>
                          <a placement="top" ngbTooltip="Select this to delete the corresponding skill.">
                            <i class="fas fa-trash-alt ml-4" (click)="deleteSkill(item.id)"></i>
                          </a></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="panel-container panel-ext sm-container">
                <ngb-tabset #t="ngbTabset">
                    <ngb-tab id="tab-selectbyid1">
                      <ng-template ngbTabTitle><h3>Requirements</h3></ng-template>
                      <ng-template ngbTabContent>
                        <div class="container-fluid">
                            <div class="row" style="height: 100%;">
                                <div class="col-sm-12 col-md-6">
                                    <form class="mt-4 ml-4">
                                        <div class="form-group form-inline">
                                            <h5>Search Requirement:</h5> <input type="text" class="form-control ml-2" [formControl]="requirementControl">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="mt-4 float-right btn btn-outline-primary" (click)="pendingRequirements()" *ngIf="pendingRequirement">Pending Requirements {{pendingRequirement}}</button>
                                </div>
                                <div class="col-12">
                                    <div class="mt-2">
                                        <div class="group-right" (click)="addRequirement()">
                                            <h5>New Requirements</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                                        </div>
                                        <table class="table greyHead">
                                            <thead>
                                                <tr>
                                                    <th>Requirement</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <!-- Requirements GO HERE -->
                                            <tr *ngFor="let item of requirements | filterRequirements:requirementControl.value"><td>{{item.requirement}}</td><td class="text-right">
                                              <a placement="top" ngbTooltip="Select this to edit the corresponding requirement.">
                                                <i class="far fa-pencil-alt" (click)="editRequirement(item.id)"></i>
                                              </a>
                                              <a placement="top" ngbTooltip="Select this to delete the corresponding requirement.">
                                                <i class="fas fa-trash-alt ml-4" (click)="deleteRequirement(item.id)"></i>
                                              </a></td></tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-selectbyid2">
                      <ng-template ngbTabTitle><h3>Questions</h3></ng-template>
                      <ng-template ngbTabContent>
                        <div class="container-fluid">
                            <div class="row" style="height: 100%;">
                                <div class="col-sm-12 col-md-6">
                                    <form class="mt-4 ml-4">
                                        <div class="form-group form-inline">
                                            <h5>Search Questions:</h5> <input type="text" class="form-control ml-2" [formControl]="questionControl">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <button class="mt-4 float-right btn btn-outline-primary" (click)="pendingQuestions()" *ngIf="pendingRequirement"> Pending Questions {{pendingQuestion}}</button>
                                </div>
                                <div class="col-12">
                                    <div class="mt-2">
                                        <div class="group-right" (click)="addQuestion()">
                                            <h5>New Question</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                                        </div>
                                        <table class="table greyHead">
                                            <thead>
                                                <tr>
                                                    <th>Question</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <!-- QUESTIONS GO HERE -->
                                            <tr *ngFor="let item of longQuestions | filterQuestions:questionControl.value"><td>{{item.question}}</td><td class="text-right">
                                              <a placement="top" ngbTooltip="Select this to edit the corresponding question.">
                                                <i class="far fa-pencil-alt" (click)="editLongQuestion(item.id)"></i>
                                              </a>
                                              <a placement="top" ngbTooltip="Select this to delete the corresponding question.">
                                                <i class="fas fa-trash-alt ml-4" (click)="deleteLongQuestion(item.id)"></i>
                                              </a></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
            </div>
        </div>
    </div>
</div>
