<div class="container-fluid">
    <h1>Confirm Question</h1>

        <div class="sm-container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="container">
                <div class="row border-el">
                  <div class="col-10">
                    <table class="table greyHead">
                      <thead>
                        <tr>
                          <th>Pending Questions</th>
                          <th class="text-center">Action</th>
                        </tr>
                      </thead>
                        <tr *ngFor="let item of questions"><td>{{item.question}}</td><h2><i class="far fa-check-circle"   (click)="save(item.id)"></i></h2><h2><td class="text-center"></td></h2></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
