<div class="container">
    <button class="btn btn-outline-secondary mt-4" [routerLink]="['']">Return to login</button>
    <h1 style="margin-top: 18vh;">About Futura</h1>
    <hr>
    <p>Our IT service solutions are given the highest level of management and support using cutting-edge technology. With the utmost quality and consistency, we provide clients with effective solutions making technology an asset for them.</p>
    <br>
    <br>
    <h1>BMW system</h1>
    <hr>
    <p>
    The system that we have designed, built and implemented for BMW has two main functioning parts. The main part is a GRS system which provides a platform that applicants can apply for jobs at BMW, but further more the platform gives recruiters the power to be able to create a job publication that they can then control effectively and easily.
    Lastly we have the booking component which gives employees the tools to be able to book a desk for the day at a specific building or to be able to book a boardroom slot
    </p>
</div>