<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="form-group">
                <label for="roleSearch">Search Role</label>
                <input type="text" name="roleSearch" id="roleSearch" class="form-control">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of roles">
                <td>{{item.roleName}}</td>
                <td><i class="fa fa-plus" aria-hidden="true" (click)="addRole(item.roleId)"></i></td>
            </tr>
            
        </tbody>
    </table>
</div>