    <div class="container-fluid">
      <button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
        <div class="row">
            <!-- Tables Section -->
            <div class="col-md-6 col-sm-12">
                <div class="sm-container panel-container sm-container panel-ext">
                    <h1>Tables</h1>
                    <form [formGroup]="tableForm">
                        <div class="container-fluid">
                        <div class="row">
                          <!--Search Table-->
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="tableSearch">Search Table</label>
                                        <input class="form-control" type="text" name="tableSearch" id="tableSearch" [ngModel]="searchText" formControlName= "tableSearch">
                                    </div>
                                </div>
                                <!--TableType Dropdown-->
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="tableType">
                                          <a placement="top" ngbTooltip="Select to filter by table type." style="font-size: xx-small;">
                                            <i class="fa fa-info-circle"></i>
                                          </a>
                                          Table Type</label>
                                        <select class="form-control" name="ttypeId" id="ttypeId" formControlName="ttypeId">
                                          <option value="null" selected disabled>Please Select a Table Type</option>
                                          <option *ngFor="let item of tableTypes" [value]="item.id" >{{item.type}} </option>
                                        </select>
                                    </div>
                                </div>
                                <!--Building dropdown-->
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="building">
                                          <a placement="top" ngbTooltip="Select to filter by building." style="font-size: xx-small;">
                                            <i class="fa fa-info-circle"></i>
                                          </a>
                                          Building</label>
                                        <select class="form-control" name="building" id="building" formControlName="buildingId">
                                            <option value="null" selected disabled>Please Select a building</option>
                                            <option *ngFor="let item of buildings" [value]="item.buildingId" >{{item.name}} </option>
                                        </select>
                                    </div>
                                </div>
                                <!--Floor Dropdown-->
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label for="floor">
                                          <a placement="top" ngbTooltip="Select to filter by floor number." style="font-size: xx-small;">
                                            <i class="fa fa-info-circle"></i>
                                          </a>
                                          Floor</label>
                                        <select class="form-control" name="floor" id="floor" formControlName="floorId">
                                          <option value="null" selected disabled>Please Select a floor</option>
                                          <option *ngFor="let item of floors | filterName : searchText " [value]="item.floorId" >{{item.floorNumber}} </option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </form>
                    <table class="greyHead table">
                        <thead>
                            <th>Table</th>
                            <th>Table Type</th>
                            <th>Building</th>
                            <th>Floor</th>
                            <th class="text-right">Actions</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of tables"><td>{{item.name}}</td><td>{{item.ttypeId}}</td><td>{{item.buildingName}}</td><td>{{item.floorId}}</td><td class="text-center"><i class="far fa-pencil-alt" (click)="editTable(item.id)"></i><i class="fas fa-trash-alt ml-4" (click)="deleteTable(item.id)"></i></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Other Config Section -->
            <div class="col-md-6 col-sm-12 mt-sm-4 mt-md-0">
                <div class="sm-container panel-container sm-container panel-ext">
                    <ngb-tabset #t="ngbTabset">
                        <ngb-tab id="tab-selectbyid1">
                          <ng-template ngbTabTitle><h3>Tables & Settings</h3></ng-template>
                          <ng-template ngbTabContent>
                            <div class="container-fluid">
                                    <h1>Add Table</h1>
                                    <form [formGroup]="addTableForm">
                                      <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="tableName">
                                                  <a placement="top" ngbTooltip="Enter the table ID." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  Table ID/Name</label>
                                                <input class="form-control" type="text" name="tableName" id="tableName" formControlName="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="newTableType">
                                                  <a placement="top" ngbTooltip="Select the table type the table will fall under." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  Table Type</label>
                                                <select name="newtableType" id="newtableType" class="form-control" formControlName="ttypeId">
                                                  <option value="null" selected disabled>Please select a TableType</option>
                                                  <option *ngFor="let item of tableTypes" [value]="item.id">{{item.type}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="newBuilding">
                                                  <a placement="top" ngbTooltip="Select the building the table will be in." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  Building</label>
                                                <select class="form-control" name="newBuilding" id="newBuilding" formControlName="buildingId">
                                                  <option value="null" selected disabled>Please select a Building</option>
                                                  <option *ngFor="let item of buildings" [value]="item.buildingId">{{item.name}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="newFloor">
                                                  <a placement="top" ngbTooltip="Select the floor the table will be on." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  Floor</label>
                                                <select class="form-control" name="newFloor" id="newFloor" formControlName="floorId">
                                                  <option value="null" selected disabled>Select Floor</option>
                                                  <option *ngFor="let item of floors | filterFlrDrop:addTableForm.get('buildingId').value" [value]="item.floorId" >{{item.floorNumber}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <button class="btn btn-outline-primary float-right mt-lg-4 mt-sm-0"  (click)="addTable()">Add Table</button>
                                        </div>
                                        <hr>
                                      </div>
                                    </form>
                                    <h1>Setting Group Slots</h1>
                                    <form [formGroup]="slotSetup">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="slotStartTime">
                                                  <a placement="top" ngbTooltip="Enter in what the first time slot will be of the day." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  First Slot Starting Time</label>
                                                <input class="form-control" type="time" name="slotStartTime" id="slotStartTime" formControlName="startTime">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="slotEndTime">
                                                  <a placement="top" ngbTooltip="Enter in what the last time slot will be of the day." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  Last Slot Ending Time</label>
                                                <input class="form-control" type="time" name="slotEndTime" id="slotEndTime" formControlName="endTime">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label for="noSlots">
                                                  <a placement="top" ngbTooltip="Enter in how many slots you want to be in a one hour time period." style="font-size: xx-small;">
                                                    <i class="fa fa-info-circle"></i>
                                                  </a>
                                                  No. Slots per hour</label>
                                                <input class="form-control" type="number" name="noSlots" id="noSlots" formControlName="numSlots">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary float-right mt-lg-4 mt-md-0">Set Slots</button>
                                        </div>
                                        <hr>
                                    </div>
                                  </form>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-selectbyid2">
                          <ng-template ngbTabTitle><h3>Bookable Dates</h3></ng-template>
                          <ng-template ngbTabContent>
                            <div class="container-fluid">
                                <h2>Filter Dates</h2>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="startDate">Starting Date</label>
                                            <input class="form-control" type="date" name="startDate" id="startDate" [formControl]="sControl">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <label for="endDate">Ending Date</label>
                                            <input class="form-control" type="date" name="endDate" id="endDate" [formControl]="eControl">
                                        </div>
                                    </div>
                                    <table class="table greyHead">
                                        <thead>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Allow Booking</th>
                                        </thead>
                                        <tbody>  
                                          <tr *ngFor="let item of bookableDates | filterBetweenDates:sControl.value:eControl.value; let i = index"><td>x</td><td>{{item.date}}</td><td><input type="checkbox" name="date2" [value]="item.bookable" [formControl]="bookableControls.controls[i]" (change)="changeDate($event.target.checked, item.dateId)"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                </div>

            </div>

        </div>
    </div>
