<div class="bg-img">
  <button  type="button" class="btn btn-outline-info" style="float: right; padding-top: 20px;">Help</button>
<div class="grid-container">
    <div class="forgot">
        <h1 style="margin-right: 350px; color: black;">Forgot your password ?</h1>
        <h4 style="color: black;">No worries reset it here.</h4>
        <div class="container mt-4">
            <form [formGroup]="userProfile">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label for="email" style="font-size: large; color: black;">
                            <a placement="top" ngbTooltip="Enter in your current, valid email address." style="font-size: xx-small;">
                              <i class="fa fa-info-circle"></i>
                            </a>
                            Please enter your email</label>
                          <input class="form-control" type="email" name="email" id="email"  formControlName='email' >
                          <button class="btn btn-secondary resetBtn" type="button" [disabled]="!userProfile.valid" (click)="submit()">Reset Password</button>
                      </div>
                      <!--Validators-->



                    </div>

               </div>


              <div *ngIf="userEmail.invalid && ( userEmail.dirty || userEmail.touched) && (userEmail.errors.required  || userEmail.errors.invalid)" class="alert alert-danger">
                Email is required.
              </div>

              <div *ngIf=" userEmail.invalid && userEmail.touched && userEmail.errors.pattern" class="alert alert-danger">
                Email needs to be a valid email with an @-sign and dot-character (.)
              </div>

            </form>
        </div>
    </div>
    </div>
</div>
