.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas:
    "header header header header header header"
    " . forgot forgot forgot forgot ."
    " . forgot forgot forgot forgot ."
    "footer footer footer footer footer footer"
    ;
}
.forgot{
    grid-area: forgot;
}
.forgot h1{

}
.forgot h6{
    padding-left: 50px;
}
.resetBtn{
    display: block;
    margin-left: auto;
    margin-top: 20px;
}
.bg-img {
    /* The image used */
    background-image: url("https://www.hdcarwallpapers.com/walls/bmw_vision_m_next_2019_4k_2-HD.jpg");

    /* Control the height of the image */
    min-height: 1000px;
    margin-top: -20px;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: unset;
  }

