<div class="container-fluid">
    <button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
    <h2>Job Name</h2>
    <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Questionnaire</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Test Upload</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">CV Upload</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-4">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Summary</span>
                </button>
              </div>
        </div>

        <div class="bs-stepper-content">

            <div id="test-l-1" class="content">

                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <h2>Requirements</h2>
                        <hr>
                    </div>
                    <div class="col-lg-3 col-md-0 col-sm-0"></div>
                    <!-- FOR EACH REQUIREMENT ADD IT BELOW HERE -->
                    <ng-container *ngFor="let item of requirements; let i = index;">
                        <div class="col-lg-6 col-md-12">
                            <!-- QUESTION -->
                            <p>{{item.requirement}}</p>
                        </div>
                        <div class="col-lg-6 col-md-0 col-sm-0">
                            <!-- ANSWER -->
                            <select class="form-control" [formControl]="requirementAnswers.controls[i]">
                                <option value="null" selected disabled>Select Option</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </ng-container>
                    <div class="col-lg-9 col-md-12  mt-4">
                        <h2>Skills</h2>
                        <hr>
                    </div>
                    <div class="col-lg-3 col-md-0 col-sm-0"></div>
                    <!-- FOR EACH SKILL ADD IT BELOW HERE -->
                    <ng-container *ngFor="let item of skills; let i = index">
                        <div class="col-lg-6 col-md-12" >
                            <!-- QUESTION -->
                            <p>{{item.skill}}</p>
                        </div>
                        <div class="col-lg-6 col-md-0 col-sm-0">
                            <!-- ANSWER -->
                            <select class="form-control" [formControl]="skillAnswers.controls[i]">
                                <option value="null" selected disabled>Select Option</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </ng-container>
                    <div class="col-lg-9 col-md-12  mt-4">
                        <h2>Languages</h2>
                        <hr>
                    </div>
                    <div class="col-lg-3 col-md-0 col-sm-0"></div>
                    <!-- FOR EACH SKILL ADD IT BELOW HERE -->
                    <ng-container *ngFor="let item of languages; let i = index">
                        <div class="col-lg-6 col-md-12" >
                            <!-- QUESTION -->
                            <p>{{item.language}}</p>
                        </div>
                        <div class="col-lg-6 col-md-0 col-sm-0">
                            <!-- ANSWER -->
                            <select class="form-control" [formControl]="languageAnswers.controls[i]">
                                <option value="null" selected disabled>Select Option</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </ng-container>


                    <div class="col-lg-9 col-md-12  mt-4">
                        <h2>Questions</h2>
                        <hr>
                    </div>
                    <ng-container *ngFor="let item of longQuestions; let i = index;">
                        <div class="col-lg-3 col-md-0 col-sm-0"></div>
                        <!-- FOR EACH LONG QUESTION ADD IT BELOW HERE -->
                        <div class="col-12">
                            <!-- QUESTION -->
                            <p>{{item.question}}</p>
                            <!-- ANSWER -->
                            <textarea cols="30" rows="5" class="form-control" [formControl]="longQuestionAnswers.controls[i]"></textarea>
                            <br>
                        </div>
                    </ng-container>
                    <div class="col-12">
                        <button (click)="next();" class="btn btn-outline-primary float-right">Next</button>
                    </div>
                </div>
            </div>
            <div id="test-l-2" class="content">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <h2>Test</h2>
                        <hr>
                    </div>
                    <div class="col-lg-4 col-sm-0 col-md-0"></div>
                        <div class="col-md-12 col-lg-4" *ngFor="let item of tests; let i = index">
                            <!-- TEST NAME -->
                            <h3>{{item.testName}}</h3>
                            <h4>Description:</h4>
                            <p>{{item.description}}</p>
                            <h4>Test URL</h4>
                            <a [href]="'http://'+item.url">{{item.testName}}</a>
                            <br>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Upload Test <small>(Please upload .zip file)</small></label>
                            <input type="file" class="form-control"(change)="attachTests($event)" [formControl]='testFile'>
                        </div>

                    <div class="col-12">
                        <button (click)="next()" class="btn btn-outline-primary mt-2 ml-4 float-right">Next</button>
                        <button (click)="previous()" class="btn btn-outline-primary mt-2 float-right">Previous</button>
                    </div>
                </div>
            </div>
            <div id="test-l-3" class="content">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2>CV</h2>
                        <hr>
                    </div>
                    <div class="col-md-4 colsm-0"></div>
                    <div class="col-md-4 col-sm-12">
                        <label for="cv">Upload CV <small>(Please upload .pdf)</small></label>
                        <input type="file" class="form-control" (change)="attachCV($event)" [formControl]="cvFile">
                    </div>
                    <div class="col-12">
                        <button (click)="next()" class="btn btn-outline-primary mt-2 ml-4 float-right">Next</button>
                        <button (click)="previous()" class="btn btn-outline-primary mt-2 float-right">Previous</button>
                    </div>
                </div>
            </div>
            <div id="test-l-4" class="content">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2>Application Summary</h2>
                        <hr>
                    </div>
                    <div class="col-md-4 colsm-0"></div>
                    <div class="col-12">
                        <h3>Test File Uploaded</h3>
                        <!-- TEST NAME -->
                        <p>{{testFiles? testFiles.name: 'No File Attached'}}</p>
                        <br>
                        <h3>CV Uploaded</h3>
                        <!-- TEST NAME-->
                        <p>{{cv? cv.name: 'No File Attached'}}</p>

                        <button class="btn btn-outline-primary mt-2 ml-4 float-right" (click)="getAnswers()">Save</button>
                        <button (click)="previous()" class="btn btn-outline-primary mt-2 float-right">Previous</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
