<div class="container-fluid">
  <button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
  <div class="row">
    <div class="col-sm-12 col-md-4 mt-2">
      <div class="panel-container panel-ext sm-container">
        <h1>Roles</h1>
          <form>
            <div class="form-group form-inline">
              <h5>Search Role:</h5> <input type="text" class="form-control ml-2" [formControl]="roleControl">
            </div>
          </form>
          <div>
            <div class="group-right" (click)="addRole()">
              <h5>New Role</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
            </div>
            <table class="table greyHead">
              <thead>
                <tr>
                  <th>Role</th>
                    <th class="text-center">Action</th>
                </tr>
              </thead>
                <tr *ngFor="let item of roles | filterRoles:roleControl.value"><td>{{item.roleName}}</td><td class="text-center">
                  <a placement="top" ngbTooltip="Select this to edit the corresponding role.">
                    <i class="far fa-pencil-alt" (click)="editRole(item.roleId)"></i>
                  </a>
                  <a placement="top" ngbTooltip="Select this to delete the corresponding role.">
                    <i class="fas fa-trash-alt ml-4" (click)="deleteRole(item.roleId)"></i>
                  </a></td></tr>
            </table>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-4 mt-2">
          <div class="panel-container panel-ext sm-container">
            <h1>Jobs</h1>
              <form>
                <div class="form-group form-inline">
                  <h5>Search Jobs:</h5> <input type="text" class="form-control ml-2" [formControl]="jobControl">
                </div>
              </form>
                <div class="group-right" (click)="addJob()">
                  <h5>New Job</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                  <thead>
                    <tr>
                      <th>Job</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                    <tr *ngFor="let item of jobs | filterJobs:jobControl.value"><td>{{item.name}}</td><td class="text-center">
                      <a placement="top" ngbTooltip="Select this to edit the corresponding job.">
                        <i class="far fa-pencil-alt" (click)="editJob(item.id)"></i>
                      </a>
                      <a placement="top" ngbTooltip="Select this to delete the corresponding job.">
                        <i class="fas fa-trash-alt ml-4" (click)="deleteJob(item.id)"></i>
                      </a></td></tr>
                </table>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
          <div class="panel-container panel-ext sm-container">
            <h1>View Authorization</h1>
              <form>
                <div class="form-group form-inline">
                  <h5>Search Authorizations:</h5> <input type="text" class="form-control ml-2" [formControl]="authControl">
                </div>
              </form>
              <div class="group-right" (click)="createViewAuthorisation()">
                <h5>New View Authorization</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
              </div>
                <table class="table greyHead">
                  <thead>
                    <tr>
                      <th>View</th>
                      <th>Role</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let item of viewAuth | filterViewAuths:authControl.value"><td>{{item.view.view}}</td><td>{{item.role.roleName}}</td><td class="text-center">
                    <a placement="top" ngbTooltip="Select this to delete the corresponding role.">
                      <i class="fas fa-trash-alt ml-4" (click)="deleteViewAuthorisation(item.view.id, item.role.roleId)"></i>
                    </a></td></tr><!--Chaged the role (id) to roleId-->
                </table>
            </div>
        </div>
    </div>
</div>
