<div class="comment-container">
    <div class="flex-left">
        <app-profile-card class="img-sm" style="height: 40%;" [cardDetails]="commentCard"></app-profile-card>
        <hr>
        <h1 class="text-center"><i class="fas fa-stars"></i> {{commentCard?.rating ? commentCard.rating : "No rating yet"}}</h1>
    </div>
    <div class="flex-right">
        <div class="lil-padding">
            <p>{{commentCard?.comment  ? commentCard.comment : "No comment yet"}}</p>
        </div>
    </div>
</div>