<div class="container-fluid">
    <h1>Confirm Skills</h1>
    <div class="sm-container">
        <div class="row">
            <div class="col-md-4 col-sm-12 border-el">
                <div class="row">
                    <div class="col-8">
                      <table class="table greyHead">
                        <thead>
                          <tr>
                            <th>Pending Skills</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                          <tr *ngFor="let item of skills"><td>{{item.skill}}</td><h2><i class="far fa-check-circle"  (click)="save(item.id)"></i></h2><td class="text-center"><h2><i class="far fa-times-circle" (click)="deleteSkill(item.id)"></i></h2></td></tr>
                      </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
