<div class="container-fluid">
    <h1>Boardroom Bookings</h1>
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="building">
                  <a placement="top" ngbTooltip="Select the building you would like to make a booking in." style="font-size: xx-small;">
                    <i class="fa fa-info-circle"></i>
                  </a>
                  Select a Building</label>
                <select name="building" id="building" class="form-control" (change)="getSlots()" [formControl]="buildingId">
                    <option value="null" selected disabled>Select a Building</option>
                    <option [value]="item.buildingId" *ngFor="let item of buildings">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-10 col-sm-12"></div>
        <div class="col-1" *ngFor="let room of boardRooms; let ii = index">
            <div class="form-check">
              <a placement="top" ngbTooltip="Check this box if this is the room you would like to book.">
                <input class="form-check-input" type="checkbox" [id]="room.id" value="room.id" [formControl]="boardRoomControls[ii]">
              </a>
                <label  for="room.id">{{room.name}}</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="sm-container">
        <div class="row">
            <div class="col-sm-12 col-md-3 border-el ml-1 mt-2 mb-2" *ngFor="let item of tables; let i = index" [hidden]="!canBeSeen(i+1)">
                <h3 class="text-center">{{item.name}}</h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let slot of item.slots" [ngStyle]="{'background-color': usersId == slot.userId && usersId ? '#e7e7e7' : '#ffffff'}" (click)="toggleBooking(slot,item.tableId)">
                            <td>{{slot.startTime}}</td>
                            <td>{{slot.userName}} {{slot.userSurname}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
