<div class="sm-container container-fluid">
  <button  type="button" class="btn btn-outline-info" style="float: right;">Help</button>
    <div class="row" style="height: 100%;">
        <div class="col-sm-12 col-md-6">
            <h1>Department</h1>
            <form>
                <div class="form-group form-inline">
                    Search Department: <input type="text" class="form-control ml-2" [formControl]="departmentControl">
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel-container sm-container">
                        <div class="group-right mt-2" (click)="addDepartment()">
                            <h5>New Department <i class="fa fa-plus" aria-hidden="true"></i></h5>
                        </div>

                        <table class="table greyHead mt-2">
                            <thead>
                                <tr>
                                    <th>Department</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <tr *ngFor="let item of departments | filterDepartment:departmentControl.value"><td>{{item.name}}</td><td class="text-center">
                                      <a placement="top" ngbTooltip="Select this to view the corresponding department">
                                        <i class="fas fa-eye ml-4"(click)="viewDepartment(item.departmentId)"></i>
                                      </a>
                                      <a placement="top" ngbTooltip="Select this to edit the corresponding department">
                                        <i class="far fa-pencil-alt ml-4" (click)="editDepartment(item.departmentId)"></i>
                                      </a>
                                      <a placement="top" ngbTooltip="Select this to delete the corresponding department">
                                        <i class="fas fa-trash-alt ml-4" (click)="deleteDepartment(item.departmentId)"></i>
                                      </a></td></tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                   <div class="panel-container sm-container" *ngIf="departmentView">
                       <h2>Department Details</h2>
                        <p>Description: {{departmentView.description}}</p>
                        <h2>Teams</h2>
                        <table class="table">
                            <tr *ngFor="let team of departmentTeams"><td>{{team.name}}</td></tr>
                        </table>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Division</h1>
            <form>
                <div class="form-group form-inline">
                    Search Division: <input type="text" class="form-control ml-2" [formControl]="divisionControl">
                </div>
            </form>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel-container sm-container">
                        <div class="group-right mt-2" (click)="addDivision()">
                            <h5>New Division <i class="fa fa-plus" aria-hidden="true"></i></h5>
                        </div>

                        <table class="table greyHead mt-2">
                            <thead>
                                <tr>
                                    <th>Division</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <tr *ngFor="let item of divisions | filterDivision:divisionControl.value"><td>{{item.name}}</td><td class="text-center">
                                    <a placement="top" ngbTooltip="Select this to view the corresponding division details">
                                      <i class="fas fa-eye ml-4"(click)="viewDivision(item.divisionId)"></i>
                                    </a>
                                    <a placement="top" ngbTooltip="Select this to edit the corresponding division">
                                      <i class="far fa-pencil-alt ml-4" (click)="editDivision(item.divisionId)"></i>
                                    </a>
                                    <a placement="top" ngbTooltip="Select this to delete the corresponding division">
                                      <i class="fas fa-trash-alt ml-4" (click)="deleteDivision(item.divisionId)"></i>
                                    </a></td></tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                   <div class="panel-container sm-container" *ngIf="divisionView">
                       <h2>Division Details</h2>
                        <p>Description: {{divisionView.description}}</p>
                        <h2>Departments</h2>
                        <table class="table">
                            <tr *ngFor="let item of divisionDepartments"><td>{{item.name}}</td></tr>
                        </table>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
