<div class="flex-container">
    <div>
        <img [src]="user.url ? user.url: '../../../../../assets/profile/empty.png' " alt="test">
    </div>
    <div>
        <p>{{user.name}}</p>
        <p>{{user.surname}}</p>
    </div>
    <div class="fill-flex">
        <div class="container-fluid">
            <h2 *ngIf="user.approved == true" class="float-right mt-3"><i class="far fa-check-square"></i></h2>
            <h2 *ngIf="user.approved == false"class="float-right mt-3" [ngbTooltip]="user.rejectMessage" placement="left"><i class="far fa-times-square"></i></h2>
            <h2 *ngIf="user.approved == null"class="float-right mt-3"><i class="far fa-square"></i></h2>
        </div>
        
    </div>
    
</div>