<div class="container-fluid">
    <a href="https://karabongqobe.github.io/370-Help_Manual/pages/add-location1.html">
        <button  type="button" class="btn btn-outline-info" style="float: right;" >Help</button>
        </a>
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Locations</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Location:</h5> <input type="text" class="form-control ml-2" [formControl]="locationControl">
                    </div>
                </form>
                <div>
                    <div class="group-right" (click)="addLocation()">
                        <h5>New Location</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                    </div>
                    <table class="table greyHead">
                      <thead>
                          <tr>
                              <th>Location</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <!-- LOCATIONS GO HERE -->
                      <tr *ngFor="let item of locations | filterLocation:locationControl.value"><td>{{item.name}}</td><td class="text-center"><a placement="top" ngbTooltip="Select this to edit the corresponding location">
                        <i class="far fa-pencil-alt" (click)="editLocation(item.locationId)"></i>
                      </a>
                      <a placement="top" ngbTooltip="Select this to delete the corresponding location">
                        <i class="fas fa-trash-alt ml-4" (click)="deleteLocation(item.locationId)"></i>
                      </a>
                      </td></tr>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Buildings</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Buildings:</h5> <input type="text" class="form-control ml-2" [formControl]="buildingControl">
                    </div>
                </form>
                <div class="group-right" (click)="addBuilding()">
                    <h5>New Building</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                  <thead>
                      <tr>
                          <th>Building</th>
                          <th class="text-center">Action</th>
                      </tr>
                  </thead>
                  <!-- Builiding GO HERE -->
                  <tr *ngFor="let item of buildings | filterBuilding:buildingControl.value" ><td>{{item.name}}</td><td class="text-center">
                    <a placement="top" ngbTooltip="Select this to edit the corresponding building">
                      <i class="far fa-pencil-alt" (click)="editBuilding(item.buildingId)"></i>
                    </a>
                    <a placement="top" ngbTooltip="Select this to delete the corresponding building">
                      <i class="fas fa-trash-alt ml-4" (click)="deleteBuilding(item.buildingId)"></i>
                    </a></td></tr>
              </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-2">
            <div class="panel-container panel-ext sm-container">
                <h1>Floors</h1>
                <form>
                    <div class="form-group form-inline">
                        <h5>Search Floors:</h5> <input type="text" class="form-control ml-2" [formControl]="floorControl">
                    </div>
                </form>
                <div class="group-right" (click)="addFloor()">
                    <h5>New Floor</h5><h5><i class="fa fa-plus" aria-hidden="true"></i></h5>
                </div>
                <table class="table greyHead">
                    <thead>
                        <tr>
                            <th>Floor</th>
                            <th>Building</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <!-- Floors GO HERE -->

                    <tr *ngFor="let item of floors | filterFloor:floorControl.value"><td>{{item.floorNumber}}</td><td>{{item.buildingName}}</td><td class="text-center">
                      <a placement="top" ngbTooltip="Select this to edit the corresponding floor">
                        <i class="far fa-pencil-alt" (click)="editFloor(item.floorId)"></i>
                      </a>
                      <a placement="top" ngbTooltip="Select this to delete the corresponding floor">
                        <i class="fas fa-trash-alt ml-4" (click)="deleteFloor(item.floorId)"></i>
                      </a></td></tr>

                  </table>
            </div>

        </div>
    </div>
</div>
