<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
            <div class="displayCard" [routerLink]="['/Dashboard/Booking']" *ngIf="this.canView('booking')">
                <h2>Todays Table Booking</h2>
                <hr>
                <div class="container">
                    <h3 class="text-center">{{homeCards?.table?.tableName != null ? homeCards.table.tableName : "No booking"}}</h3>
                    <h1 class="text-right"><i class="far fa-chair-office"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
            <div class="displayCard" [routerLink]="['/Dashboard/JobCardDashboard']" *ngIf="this.canView('hr')">
                <h2>Assigned Cards</h2>
                <hr>
                <div class="container">
                    <h3 class="text-center">{{homeCards?.assignedCards.total}}</h3>
                    <h1 class="text-right"><i class="fas fa-id-card"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
            <div class="displayCard" [routerLink]="['/Dashboard/HireManagerControl']" *ngIf="this.canView('hr')">
                <h2>Job Requests</h2>
                <hr>
                <div class="container">
                    <h3 class="text-center">{{homeCards?.jobRequests.total}}</h3>
                    <h1 class="text-right"><i class="fad fa-list-alt"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
            <div class="displayCard" [routerLink]="['/Dashboard/JobCardApproval']" *ngIf="this.canView('job approve')">
                <h2>Approve Job Cards</h2>
                <hr>
                <div class="container">
                    <h3 class="text-center">{{homeCards?.jobApprovals.total}}</h3>
                    <h1 class="text-right"><i class="far fa-stamp"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 mt-4">
            <div class="displayCard" [routerLink]="['/Dashboard/Interviews']" *ngIf="this.canView('interview')">
                <h2>Awaiting interviews</h2>
                <hr>
                <div class="container">
                    <h3 class="text-center">{{homeCards?.interviews.total}}</h3>
                    <h1 class="text-right"><i class="fal fa-copy"></i></h1>
                </div>
            </div>
        </div>
</div>
</div>
